<html>
<head>
<style>
</style>
</head>
        <h1> Test Upload / Download server </h1>
        <body>
                <br><a href="/upload"> start uploading! </a></br>
                <br><a href="/listing"> Currently Available files </a></br>
                <br> there is also /download and /remove </br>
        </body>
</html>

