<html>
<head>
        <link rel="stylesheet" href="/stylesheets/98.css" type="text/css">
        <link rel="stylesheet" href="/stylesheets/vs.css" type="text/css">
        <link rel="stylesheet" href="/stylesheets/docs.css" type="text/css">
        <style type="text/css">
                .topright {
                  position: absolute;
                  top: 8px;
                  right: 16px;
                  font-size: 18px;
                }
        </style>
</head>
        <body>
        <p class="topright"><a href="/login">login</a> | <a href="/logout">logout </a></p>
        <div align="center">
                <h2> Test Upload / Download server </h2>
                <hr>
                <br><a href="/listing"> Currently Available files </a></br>
        </div>
        </body>
</html>

